    <div class="tab" data-group="primary" data-tab="notas">
      <section class="jk-card">
        <h2>Aparência</h2>
        <textarea name="system.notas.aparencia">{{system.notas.aparencia}}</textarea>
      </section>

      <section class="jk-card">
        <h2>Personalidade</h2>
        <textarea name="system.notas.personalidade">{{system.notas.personalidade}}</textarea>
      </section>

      <section class="jk-card">
        <h2>Ideais</h2>
        <textarea name="system.notas.ideais">{{system.notas.ideais}}</textarea>
      </section>

      <section class="jk-card">
        <h2>Ligações</h2>
        <textarea name="system.notas.ligacoes">{{system.notas.ligacoes}}</textarea>
      </section>

      <section class="jk-card">
        <h2>Complicações</h2>
        <textarea name="system.notas.complicacoes">{{system.notas.complicacoes}}</textarea>
      </section>

      <section class="jk-card">
        <h2>Anotações</h2>
        <textarea name="system.notas.anotacoes">{{system.notas.anotacoes}}</textarea>
      </section>
    </div>
