<div class="form-group">
  <label>Tipo</label>
  <select name="system.consumivel.tipo">
    {{#each tiposConsumivel}}
      <option value="{{value}}" {{#if (eq ../system.consumivel.tipo value)}}selected{{/if}}>{{label}}</option>
    {{/each}}
  </select>
</div>

<h3>Ativação</h3>

<div class="form-group">
  <label>Consumível</label>
  <input type="text" name="system.consumivel.ativacao.consumivel" value="{{system.consumivel.ativacao.consumivel}}" />
</div>

<div class="form-group">
  <label>Execução</label>
  <select name="system.consumivel.ativacao.execucao">
    {{#each execucoes}}
      <option value="{{value}}" {{#if (eq ../system.consumivel.ativacao.execucao value)}}selected{{/if}}>{{label}}</option>
    {{/each}}
  </select>
</div>

<div class="form-group">
  <label>Condição de Ativação</label>
  <input type="text" name="system.consumivel.ativacao.condicao" value="{{system.consumivel.ativacao.condicao}}" />
</div>

<div class="form-group">
  <label>Alcance</label>
  <select name="system.consumivel.ativacao.alcance">
    {{#each alcances}}
      <option value="{{value}}" {{#if (eq ../system.consumivel.ativacao.alcance value)}}selected{{/if}}>{{label}}</option>
    {{/each}}
  </select>
</div>

<div class="form-group">
  <label>Alvo</label>
  <input type="text" name="system.consumivel.ativacao.alvo" value="{{system.consumivel.ativacao.alvo}}" />
</div>

<div class="form-group">
  <label>Área</label>
  <input type="text" name="system.consumivel.ativacao.area" value="{{system.consumivel.ativacao.area}}" />
</div>

<div class="form-group">
  <label>Efeito</label>
  <input type="text" name="system.consumivel.ativacao.efeito" value="{{system.consumivel.ativacao.efeito}}" />
</div>

<div class="form-group">
  <label>Duração</label>
  <select name="system.consumivel.ativacao.duracao">
    {{#each duracoes}}
      <option value="{{value}}" {{#if (eq ../system.consumivel.ativacao.duracao value)}}selected{{/if}}>{{label}}</option>
    {{/each}}
  </select>
</div>

<div class="form-group">
  <label>Teste de Resistência</label>
  <input type="text" name="system.consumivel.ativacao.testeResistencia" value="{{system.consumivel.ativacao.testeResistencia}}" />
</div>

