<div class="flexrow">
  <div class="flexcol">
    <div class="form-group">
      <label>PV</label>
      <input type="number" name="system.pv.atual" value="{{system.pv.atual}}" placeholder="Atual" />
      <input type="number" name="system.pv.max" value="{{system.pv.max}}" placeholder="Máx." />
    </div>

    <div class="form-group">
      <label>RD</label>
      <input type="number" name="system.rd" value="{{system.rd}}" />
    </div>

    <div class="form-group">
      <label>Quantidade</label>
      <input type="number" name="system.quantidade" value="{{system.quantidade}}" />
    </div>

    <div class="form-group">
      <label>Espaços</label>
      <input type="number" name="system.espacos" value="{{system.espacos}}" />
    </div>

    <div class="form-group">
      <label>Preço</label>
      <input type="number" name="system.preco" value="{{system.preco}}" />
    </div>

    {{#if isTesouro}}
      <div class="form-group">
        <label>
          <input type="checkbox" name="system.tesouro.recipiente" {{checked system.tesouro.recipiente}} />
          Recipiente?
        </label>
      </div>
    {{/if}}
  </div>

  <div class="form-group stacked">
    <label>Descrição</label>
    <textarea name="system.descricao" rows="12">{{system.descricao}}</textarea>
  </div>
</div>

